/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    text-align: center; 
}
 
/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 5px;
}

/*---------------------------------------------------
	COLORES
-----------------------------------------------------*/

.colorBackgroundBody{
	background-color: #AD9851;
}

/*color Menu Hover*/
nav ul li:hover {
  background: #3ead47;
}
/*color Menusec*/
ul.menusec li {
	background-color: #574C28;
}
/*color Menusec Hover*/
ul.menusec li:hover {
	background-color: #008148;
}
.colorPortada{
    background-color: #7F703C;
}
.colorBackgroundAgenda{
    background-color: #7F703C;
}
ul.agenda li {
  background-color: #63572E;
  padding: 3%;
}
.colorRecordatorio{
	background-color: #574C28;
}
.colorTareas{
	background-color: #A18D4B;
}
.colorBackgroundCuerpo{
	background-color: #333;
}
.colorBackgroundPublicar{
  background: rgba(0,0,0,0.3);
}

/*---------------------------------------------------
	HEADER MENUTOP
-----------------------------------------------------*/

header {
  background: rgba(0,0,0,0.3);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.menuizq{
  float: left; /* Desplazamos el nav hacia la izquierda */
}
.menuder{
  float: right; /* Desplazamos el nav hacia la derecha */
}
 
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
 


.contenido {
  padding-top: 80px;
}

.wrapper {
  width: 95%;
  margin: auto;
  overflow:hidden;
}

}
img.iconochico{
  width: 15px; height: 15px;
  display:block;
}


img.perfil{
  width: 50px; height: 50px;
  display:block;
}

img.icono{
  width: 30px; height: 30px;
  display:block;

}

img.fotoperfil {
    width: 150px; height: 150px;
    display:block;

}

/*=======================================
    SECTION PRINCIPAL
==================================================*/

#contenedor{ 
    text-align: center; 

    width: auto; 
} 

#principal{
    float:left; 
    text-align: center;
    width: 65%; 
   
} 

#portada{
    float:left; 
    text-align: center;
    width: 100%; 
    padding: 5%;

   
}  

#perfil{ 

    margin: auto;
    text-align: center; 
    padding: 4px; 
    width:150px;
} 

/*=======================================
	NAV MENUSEC
==================================================*/


#menusec{
	width: 110%;
	margin-top: 36.3%;
    
}

hr{display:none;}

ul.menusec {
	list-style: none;
	text-align: center;
}

ul.menusec li {
	width: 25%;
	padding-top:1.25%;
	padding-bottom: 1.25%;
	float:left;
}

ul.menusec li a:link, ul.menusec li a:visited {
	text-decoration: none;
	color:#fff;
}

/*=======================================
    CUERPO
==================================================*/

#cuerpo{ 

    float: left;   
    width: 110%; 
    height: 800px;
    overflow:auto;
    color:#fff;
    margin-top: 1%;
} 

#txtpublicar{
    margin: 10px;
    text-align: left; 
    padding: 4 4 4 4px; 


}

hr{display:none;}

ul.txtpublicar {
	list-style: none;
	text-align: center;
}

ul.txtpublicar li {
	width: 25%;
	padding-top:1.25%;
	padding-bottom: 1.25%;
	float:left;
}

ul.txtpublicar li a:link, ul.txtpublicar li a:visited {
	text-decoration: none;
	color:#fff;
}

#col2-3{
	float: left;   
    width: 66.6%; 
    height: auto
    color:#fff;
}
#colizq1-2{
	float: left;   
    width: 50%; 
    height: auto
    color:#fff;
}
#colder1-2{
	float: right;   
    width: 50%; 
    height: auto
    color:#fff;
}
#colder1-3{
	float: right;   
    width: 33.3%; 
    height: auto
    color:#fff;
}




/*=======================================
    AGENDA
==================================================*/

#agenda{ 
    float: right;   
    width: 21%; 
    height: 500px;
    overflow:auto;
    color:#fff;

} 


hr{display:none;}



ul.agenda li a:link, ul.agenda li a:visited {
	text-decoration: none;
	color:#fff;
}
ul.agenda li:hover {
	background-color: #008148;
}

#recordatorio {
	margin: 10%; 
	padding: 3%;
	text-align: left;
}


#tareas {
	margin: 5%;
	padding: 3%;
}


/*=======================================
    FOOTER STYLES
==================================================*/

#footer {
    background: rgba(0,0,0,0.3);
    color:#fff;
    margin-top: 1%;
    padding: 10px 50px 10px 50px;
    text-align:right;
}