/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    text-align: center; 
}
 
/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 5px;
}

/*---------------------------------------------------
  COLORES
-----------------------------------------------------*/

.colorBackgroundBody{
  background-color: #2F3540;
}

/*color Menu Hover*/
nav ul li:hover {
  background: #3ead47;
}
/*color Menusec*/
ul.menusec li  {
  background-color: #666A73;
}

/*color Menusec Hover*/
ul.menusec li:hover {
  background-color: #008148;
}
.menusec{
  background-color: #333;
  color: #fff;
}
.colorBackgroundAgenda{
    background-color: #21677D;
}
ul.agenda li {
  background-color: #184C5C;
  padding: 3%;
}
.colorRecordatorio{
  background-color: #184C5C;
}
.colorTareas{
  background-color: #25618A;
}
.colorBackgroundPublicar{
  background: rgba(0,0,0,0.3);
}
ul.agregar li {
  background: rgba(0,0,0,0.3)
}
ul.agregar li:hover {
  background: rgba(59,53,45,0.7)
}
.colorBackgroundPublicacion{
 background: rgba(0,0,0,0.3) 
}
.colorBackgroundPublicado{
  background: rgba(0,0,0,0.3); 
}
.colorBackgroundComentar{
background: rgba(0,0,0,0.3); 
}

/*---------------------------------------------------
  HEADER MENUTOP
-----------------------------------------------------*/

header {
  background: rgba(0,0,0,0.3);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.menuizq{
  float: left; /* Desplazamos el nav hacia la izquierda */
}
.menuder{
  float: right; /* Desplazamos el nav hacia la derecha */
}
 
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
 


.contenido {
  padding-top: 80px;
}

.wrapper {
  width: 95%;
  margin: auto;
  overflow:hidden;
}

}
img.iconochico{
  width: 15px; height: 15px;
  display:block;
}


img.perfil{
  width: 90px; height: 90px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  display:block;
}

img.perfilchico{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  display:block;
}

img.icono{
  width: 50px; height: 50px;
  display:block;

}

img.publicacion{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%; height: 100%;
  display:block;
}


/*=======================================
    CUERPO
==================================================*/


#contenedor{
  float: left;
  width: 75%;
}

#menusec{
    float: left;   
    width: 20%; 
    height: auto;
    margin-right: 2%;
    margin-left: 2%; 

}


ul.menusec {
  list-style: none;
  text-align: center;
}

ul.menusec li {
  width: 100%;
  padding-top:5%;
  padding-bottom: 5%;
}
ul.menusec li a{
  color: #fff;
  text-decoration: none;
}

#principal{  /*-- Columna Central --*/
    float: right;   
    width: 75%; 
    height: auto;
    padding-bottom: 1%;


}

/*-- Botones agregar --*/

ul.agregar {
  list-style: none;
  text-align: center;
}

ul.agregar li {
  width: 50%;
  padding-top:1.25%;
  padding-bottom: 1.25%;
  float:left;
}

ul.agregar li a:link, ul.agregar li a:visited {
  text-decoration: none;
  color:#fff;
}

/*=======================================
    SECCION PUBLICAR
==================================================*/

#publicar{
  float: right;   
  width: 100%; 
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

#publicador{
  padding-top: 3%;
  padding-bottom: 3%;
  float: left;
  margin-left: 3%;
  width: auto;
  display:block;
}

#txtpublicar{
  width: 79%;
  height: auto;
  padding-top: 3%;
  float: left;
  margin-left: 3%;
  display:block;
}

.txtpublicar{
  width: 100%;
  height:100%;
}

#btnpublicar{
  width: 79%; 
  height: 22.5px;
  padding-top: 1%;
  padding-bottom: 2%;
  float: left;
  margin-left: 3%;
  display:block;
}

.btnpublicar{
  float: right;
  width: 25%;
  height:100%;
  color: #fff;
  background-color: #333;
  border: none;
}


/*=======================================
    PUBLICACION
==================================================*/

ul.publicacion {
  list-style: none;
  text-align: center;
}

ul.publicacion li {
  width: 50%;


}

ul.publicacion li a:link, ul.publicacion li a:visited {
  text-decoration: none;
  color:#fff;
}

#publicacion{
  float: right;   
  width: 100%; 
  height: auto;
  margin-top: 2%;

}

#publicado{
  float: right;
  width: 81%; 
  padding: 2%;
  color: #fff;
  text-align: left;
}

ul.interez{
  list-style: none;
  text-align: center;
}

ul.interez li {
  width: 25%;
  padding-top:1.25%;
  padding-bottom: 1.25%;
  float:right;
}

ul.interez li a:link, ul.interez li a:visited {
  text-decoration: none;
  color:#fff;
}

#acciones{
  margin-bottom: 2%;
}

#comentar{
  float: right;   
  width: 94%; 
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 3%;
}

ul.coment{
  list-style: none;
  text-align: center;
}

ul.coment li {
  width: 25%;
  padding-top:1.25%;
  padding-bottom: 1.25%;
  float:left;
}

ul.coment li a:link, ul.coment li a:visited {
  text-decoration: none;
  color:#fff;
}

.txtcoment{
  width: 100%;
  height:100%;
}


.btncoment{
  float: right;
  width: 25%;
  height:100%;
  color: #fff;
  background-color: #333;
  border: none;
}





















/*=======================================
    AGENDA
==================================================*/

#agenda{ 
    float: right;   
    width: 21%; 
    height: 500px;
    overflow:auto;
    color:#fff;
    margin-right: 2%;

} 


hr{display:none;}


ul.agenda li {
  background-color: #2D4768;
  padding: 3%;
}
ul.agenda li a:link, ul.agenda li a:visited {
  text-decoration: none;
  color:#fff;
}


#recordatorio {
  margin: 5%; 
  padding: 3%;
  text-align: left;
}


#tareas {
  margin: 5%;
  padding: 3%;
}


/*=======================================
    FOOTER STYLES
==================================================*/

#footer {
    background-color: #054d63;
    color:#fff;
    margin-top: 1%;
    padding: 10px 50px 10px 50px;
    text-align:right;
}