<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="plataforma que tiene como prioridad organizar proyectos y conectar estudiantes y educadores">
    <meta name="author" content="Bruno Cisnero">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Fulanito | ECrab</title>
    <!--REQUIRED STYLE SHEETS-->
    <link href="assets/css/styleexample.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
                    
                    
    <!-- menutop -->
<header
<nav id="menutop">
    <hr/>
    <div id="navizq">
    <ul class="menutop">
        <li>hola</li>
    </ul>
    </div>
    <div id="menutop">
        <ul class="menutop">
            <li>chau</li>
        </ul>
    </div>
</nav>
</header>
<!-- fin menutop -->




    <div id="contenedor"> 
     <div id="principal">
      <div id="portada">
    
            <div id="perfil">
                <div class="fotoperfil">
                    <img class="fotoperfil" src="C:\Users\Bruno\ECrab\ECrab_Web\templates\assets\img\coconut.png">
                </div>
                    <h2><a href="perfil.html">Fulanito</a></h2>
                    <p>@fulanito</p>
            </div>
        </div>
                    <!-- menusec -->
                    <div id="menusec">
                    <hr/>
                    <ul class="menusec">
                    <li><a href="">Proyectos</a></li>
                    <li> <a href="">Comunidad</a> </li>
                    <li> <a href="">Forofos</a> </li>
                    <li> <a href="">Información Personal</a> </li>
                    </ul>
                    </div>
                    <!-- fin menusec -->
       </div>       
                
            <div>
        
        </div>
        <div id="agenda">
            <hr/>
            <ul class="agenda">
                <li><a href="">Agenda</a></li>
                <li><strong>Viernes 21/10/2016</strong></li>
            </ul>
         
            <div id="recordatorio">    
               
                  
                <p>Miercoles, 26 de Octubre</p>
                    

                    <div id="tareas">    
                        <strong><p>Expo'16</p></strong>
                        <p>Todo el dia</p>
                    </div>
                       
                

            </div>    
        <div id="recordatorio">    
                <p>Jueves, 27 de Octubre</p>
                <div id="tareas">    
                    <strong><p>Expo'16</p></strong>
                    <p>Todo el dia</p>
                </div>

            </div>    
        </div>  
    </div>          
</body>
