<!--este HTML5 por el momento se ejecuta en local (fuera del servidor)/!-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Log-Register | Ecrab</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="C:\Users\Bruno\ecrab\ECrab_Web\static\boostrap\css\bootstrap.min.css">
	<link rel="stylesheet" href="C:\Users\Bruno\ecrab\ECrab_Web\static\css\estiloconbootstrap.css">
</head>
<body>
	<header>
		<div class="container-fluid color3">
		<h1>header</h1> 						<!--puse un header para probar ... /!-->
		</div>									<!--pero en realidad lo que quiero es hacer una barra sin texto ... /!-->
	</header>									<!--cuando el div esta vacio no aparece/!-->
	



	<!--aca no se como poner un espacio entre el primer conteiner y el segundo conteiner ... yo lo imagino como un offset en vertical ... pero no se como ponerlo/!-->

	<div class="container">
					
	<div class="containe col-md-6">
		<div class="form-group">
		  	<input type="email" class="form-control" id="" placeholder="E-mail">
		</div>
		<div class="form-group">
		    <input type="password" class="form-control" id="" placeholder="Contaseña">
		</div>
	  	<div class="form-group">
	     <div class="col-md-6">
	      <div class="checkbox">
	        <label>
	    	    <input type="checkbox"> Recordarme
	        </label>
	      </div>
	     </div>
	  	</div>
	  	<div class="form-group">
	     <div class="col-md-6">
	     	<button type="submit" class="btn btn-primary">Ingresar</button>
	     </div>
	  	</div>
	</div>

		<div class="container color1 col-md-4">
			<h4>Por el momento no esta habilitado el registro al publico, por que esto es una alpha</h4>
		</div>

	</div>


	<!--aca queria probar el .col-md-offset-* ... pero no se por que no lo toma/!-->

	<div class="container">
	<div class="col-md-2 color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aliquid hic cupiditate quidem dolorem, ipsum veniam odit quis, dolor molestias officiis inventore expedita reiciendis. Possimus numquam nostrum hic, nihil minima?</div>
	<div class="col-md-5 col-md-offset-2 color4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque atque consequuntur harum, similique, iusto consectetur quo voluptates soluta veritatis explicabo ut odit quos accusantium, suscipit sapiente iure culpa quam quidem.</div>
	<div>










</body>

<scrpit src="C:\Users\Bruno\ecrab\ECrab_Web\static\boostrap\js\jquery.js"></scrpit>
<script src="C:\Users\Bruno\ecrab\ECrab_Web\static\boostrap\js\bootstrap.min.js"></script>
</html>
