<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->
{%load staticfiles%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="plataforma que tiene como prioridad organizar proyectos y conectar estudiantes y educadores">
    <meta name="author" content="Bruno Cisnero">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Lucio | ECrab</title>
    <!--REQUIRED STYLE SHEETS-->
            <link rel="stylesheet" href="{% static 'css/Lucio.css' %}">
            <link rel="stylesheet" href="C:\Users\Bruno\ECrab\ECrab_Web\static\css\Lucio.css">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="colorBackgroundBody">
    <header>
    <nav>
        <ul class="menuizq">
            <li><a href="webhome.html">Inicio</a></li>

        </ul>
        <ul class="menuder">
            <li><a href="Bruno.html">Bruno</a></li>
            
        </ul>
    </nav>
</header>


<section class="contenido wrapper">

    <div id="contenedor"> 

     <div id="principal">
      <div id="portada" class="colorPortada">
    
            <div id="perfil">
                <div class="fotoperfil">
                    <img class="fotoperfil" src="C:\Users\Bruno\ECrab\ECrab_Web\static\img\12072607_10203786687107064_545080992145991625_n.jpg">
                </div>
                    &nbsp &nbsp
                    <h2><a href="Lucio.html">Lucio</a></h2>
                    <p>@lucio</p>
            </div>
        </div>
        <!-- menusec -->
           <div id="menusec" >
                <hr/>
                <ul class="menusec">
                    <li><a href="">Proyectos</a></li>
                    <li> <a href="">Comunidad</a> </li>
                    <li> <a href="">Forofos</a> </li>
                    <li> <a href="">Información Personal</a> </li>
                </ul>
            </div>
        <!--fin menusec -->

            <div id="cuerpo" class="colorBackgroundCuerpo">
              
                 <ul class="agregar">
            <li>
                <a href="#">Agregar Documento</a>
            </li>
            <li>
                <a href="#">Agregar Recordatorio</a>
            </li>
            <li>
                <a href="#">Agregar Proyecto</a>
            </li>
        </ul>
   
    <div id="publicar" class="colorBackgroundPublicar">
        <div id="publicador">
            <a href="bruno.html"><img class="perfil" src="C:\Users\Bruno\ECrab\ECrab_Web\static\img\10959359_318092458387532_5489101843930989000_n.jpg"></a> 
        </div>
            <div id="txtpublicar">
                <textarea name="informar" class="txtpublicar" rows="3" required="unrequired" placeholder="Algo que informar?"></textarea>
            </div>
            <div id="btnpublicar">
                <button type="submit" class="btnpublicar">Publicar</button>
        </div>
    </div>
            </div> 
              </div>
            </div>     


        </div><!-- fin div principal -->    
            

<div id="agenda" class="colorBackgroundAgenda">
            <hr/>
            <ul class="agenda">
                <li><a href="">Mi Agenda</a></li>
                <div class="menusec"><p>Hoy es: &nbsp &nbsp <strong>Viernes, 25 de Noviembre, 2016</strong></p></div>
            </ul>
         
             

       
        <div id="recordatorio" class="colorRecordatorio">    
                <p>Viernes, 25 de Noviembre, 2016</p>
                
                    <div id="tareas" class="colorTareaCompartida">    
                        <strong><p>Feria del Instituto</p></strong>
                        <p>De  18.00  Hasta  22.00</p>
                    
                    </div>
            </div>    


     

        <div id="recordatorio" class="colorRecordatorio">    
                <p>Sabado, 3 de Diciembre, 2016</p>
                <div id="tareas" class="colorTareas">    
                    <strong><p>15</p></strong>
                    <p>A las 21.30</p>
                </div>
            </div>

        <div id="recordatorio" class="colorRecordatorio">    
                <p>Lunes, 5 de Diciembre, 2016</p>
                <div id="tareas" class="colorTareaCompartida">    
                    <strong><p>Entrega de Diplomas</p></strong>
                    <p>Horario sin especificar</p>
                </div>
                <div id="tareas" class="colorTareaCompartida">    
                    <strong><p>El Brindis</p></strong>
                    <p>Horario sin especificar</p>
                </div>
            </div>

        </div>
        
        


         
    </div>          
</section>

        <!--footer Section -->
    <footer>
    <div class="for-full-back " id="footer">
        2016 www.ECrab.com | Todos los derechos reservados (proximamente), pero shhh no se lo digas a nadie
         
    </div>
    </footer>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.js"></script>
    <!-- PARALLAX SCRIPT   -->
    <script src="assets/plugins/4jquery.parallax-1.1.3.js"></script>
    <!-- CUSTOM SCRIPT   -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
