<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="plataforma que tiene como prioridad organizar proyectos y conectar estudiantes y educadores">
    <meta name="author" content="Bruno Cisnero">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Explorar | ECrab</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/styleexplorar.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
    <header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
       
				        <!-- menu -->
				      <div id="menu">
				      	<div id="leftnav">
				            
				                <ul class="nav navbar-nav navbar-left">
				                    <li>
				                   		<a href="webhome.html"><img class="icono" src="C:\Users\Bruno\ECrab\ECrab_Web\templates\assets\img\545001A2-1633-4C44-9D2B-2E34DEBFB995.png">
				                  		</a>
				                  	</li>
				                   <li>
				                   		<ul class="nav navbar-nav navbar-left">
				                    <li><input type="text" class="form-control" size="15" maxlength="30" required="unrequired" placeholder="Buscar">
				                    </li>
				                    <li>
				                    <button type="submit" class="btn btn-success">➤</button>
				                    </li>
				                    </ul>
				                    </li>
				                </ul>    
				      		
				      	</div>
				      	<div id="centernav">
				      		
				                <ul class="nav navbar-nav navbar-left menu">
				                    <li>
				                     	<a href="webexplorar.html">Explorar</a>
				                    </li>
				                    
				                    <li>
				                    	<img class="perfil" src="C:\Users\Bruno\ECrab\ECrab_Web\templates\assets\img\coconut.png">
				                   	
				                    	<a href="webprofile.html">@Fulanito</a>
				                    </li>
				                    <li>
				                    	<button type="submit" class="btn btn-success">+ Nuevo Proyecto</button>
				                    </li>
				                </ul>
				      	
				      	</div>
				      	<div id="rightnav">
				      		
				                
				      	
				      	</div>
				      </div>
		<!-- fin menu -->
				<div>
            </div>
            <!-- /.navbar-collapse -->
            </nav>

    <section>
    	<div id="contenedor">
    	
    		<div id="cuerpo">

					<div id="columna1">
						1
					</div>
					<div id="columna2">
						2
					</div>
					<div id="columna4">
						4
					</div>
					<div id="columna3">
						3
					</div>
			</div>
		
		</div>
	</section>







	<!--footer Section -->
    <div class="for-full-back " id="footer">
        2016 www.ECrab.com | Todos los derechos reservados (proximamente), pero shhh no se lo digas a nadie
         
    </div>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.js"></script>
    <!-- PARALLAX SCRIPT   -->
    <script src="assets/plugins/4jquery.parallax-1.1.3.js"></script>
    <!-- CUSTOM SCRIPT   -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
