<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->
{%load staticfiles%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="plataforma que tiene como prioridad organizar proyectos y conectar estudiantes y educadores">
    <meta name="author" content="Bruno Cisnero">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Log-Register  | ECrab</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    
    <!-- FONTAWESOME STYLE CSS -->
    <!--<link href="{%static 'css/font.css'%}" rel="stylesheet" />-->
    <!-- CUSTOM STYLE CSS -->
    <link rel="stylesheet" href="{%static 'css/stylelog_register.css'%}">
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="colorBackgroundBody">
    <header>
        <nav>
            <ul class="menuizq">
                <li><a href="/C:/Users/Bruno/Desktop/counter/Theme/index.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor">
                   <div class="columizq">
                       <h3>Iniciar sesion</h3>
                        <form action="/login_redirect/" method="post">{% csrf_token %}
                       
                            <div class="">
                                <div class="">
                                    
                                    <input name="username" type="text" class="form-control" size="15" maxlength="30" required="required" placeholder="Usuario">
                                </div>
                            </div>

                            
                            <div class="">
                                <div class="">
                    
                                    <input name="password" type="password" class="form-control" size="15" maxlength="30" required="required" placeholder="Contra">

                                </div>
                            </div>
                           
                            <div class="">
                                
                                <div class="">
                                    <button type="submit" class="btn btn-success">Ingresar</button>
                                       &nbsp &nbsp &nbsp
                    <input checked='' id='recordar' name='Recordar' type='checkbox'/>
                    <label for='Recordar'></label>Recordarme
                       
                                </div>
                            </div>
                        <hgroup>
              <h6><a href="#"> registrarse </a> </h6> 
              <h6><a href="#"> Problemas para ingresar? </a> </h6>
                </hgroup>
                    </form>
                   </div>
   
            </div>

    

</body>