	<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es">
<!--<![endif]-->
{%load staticfiles%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="plataforma que tiene como prioridad organizar proyectos y conectar estudiantes y educadores">
    <meta name="author" content="Bruno Cisnero">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>ECrab</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    
    <!-- FONTAWESOME STYLE CSS -->
    <!--<link href="{%static 'css/font.css'%}" rel="stylesheet" />-->
    <!-- CUSTOM STYLE CSS -->
    <link rel="stylesheet" href="{%static 'css/stylelog.css'%}">
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
     <header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                  
                   <li><a href="#inicio">Inicio</a>
                    </li>
                    <li><a href="#somos">Quienes somos?</a>
                    </li>
                    <li><a href="#hacemos">Que es lo que hacemos?</a>
                    </li>
                    <li><a href="#participar">Como puedo formar parte?</a>
                    </li>
                    <li><a href="#contacto">Contacto</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
          </header>
    <!--End Navigation -->

    

  
    <!--Header section  -->
    <div id="inicio">
    <div class="container" >
        <div class="row ">
            <div class="col-md-9 col-sm-9">
                <h1 class>
		<IMG SRC="{% static 'img/ECrab.png'%}">
        <!--{% static 'img/ECrab.png' %} -->
                </h1>
		<span class="head-sub-main">Una nueva forma de hacer escuela</span>
                

            </div>
               <div class="col-md-3 col-sm-3">
                   <div class=" ">
                       <h3>Iniciar sesion</h3>
                        <form action="/login_redirect/" method="post">{% csrf_token %}
                       
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    
                                    <input name="username" type="text" class="form-control" size="15" maxlength="30" required="required" placeholder="Usuario">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
				    
                                    <input name="password" type="password" class="form-control" size="15" maxlength="30" required="required" placeholder="Contra">
                                </div>
                            </div>
                           
                            <div class="col-md-12 col-sm-12">
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Ingresar</button>
					                   &nbsp &nbsp &nbsp
					<input checked='' id='recordar' name='Recordar' type='checkbox'/>
 					<label for='Recordar'></label>Recordarme
  				       
                                </div>
                            </div>
                        <hgroup>
			  <h6><a href="#"> registrarse </a> </h6> 
			  <h6><a href="#"> Problemas para ingresar? </a> </h6>
		     	</hgroup>
                    </form>
                   </div>
   
            </div>

        </div>
    </div>
          </div>
    <!--End Header section  -->
    <!--hacemos Section-->
    <section  id="somos">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                     <h2>Quienes somos? </h2>


                        <h3>Responsive </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>

                    
                </div>

            </div>


        </div>
</div>
          </section>
     <!--End Services Section-->
    <!--somos-->
      <section  id="hacemos">
    <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 "></br>
                    <h2>Que es lo que hacemos? </h2>
                    
                        <h3>Responsive </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>

                </div>

            </div>


        </div>
          </section>
    <!--./parallax one-->
        <!-- Pricing Section -->
    <section  id="price-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">

                    
                </div>

            </div>
            <div class="row text-center">

                <div class="col-md-12 ">


                        <h3>Nuestros objetivos</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>


                    

                </div>
            </div>


        </div>
    </section>
    <!--End pircing Section -->
    <!--parallax two-->
    <section  id="participar">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                     <h2>Como puedo Formar parte? </h2>
                    

                        <h3>Responsive </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>

                </div>

            </div>


        </div>
    </section>
    <!--./parallax two-->
    

    <section  id="contactos">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                     <h2>Contacto </h2>
                    <h4>
                        
                        </strong>
                    </h4>
                </div>

            </div>


        </div>
    </section>

    <!-- contacto Section -->
    <section  id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                    <div id="contact">
                          <strong>Por cualquier consulta, Contactanos por Email:</strong>
			<h5>thebrunosmail@gmail.com | ariel.marcelo.viscomi@gmail.com</h5>
                    </div>
                </div>
                

            </div>
        </div>
    </section>

    <!--End Contact Section -->
    <!--footer Section -->
    <div class="for-full-back " id="footer">
        2016 www.ECrab.com | Todos los derechos reservados (proximamente), pero shhh no se lo digas a nadie
         
    </div>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.js"></script>
    <!-- PARALLAX SCRIPT   -->
    <script src="assets/plugins/4jquery.parallax-1.1.3.js"></script>
    <!-- CUSTOM SCRIPT   -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
